<div class="links">
    <a href='http://vk.com/eerikkie'>github<img scr="https://cdn-icons.flaticon.com/png/512/717/premium/717392.png?token=exp=1640861083~hmac=1b95d8dbb82dab8a3fa3dfa3be1ec830" /></a>
    <a href='http://vk.com/eerikkie'>steam<img scr="https://cdn-icons.flaticon.com/png/512/717/premium/717392.png?token=exp=1640861083~hmac=1b95d8dbb82dab8a3fa3dfa3be1ec830" /></a>
    <a href='http://vk.com/eerikkie'>tg<img scr="https://cdn-icons.flaticon.com/png/512/717/premium/717392.png?token=exp=1640861083~hmac=1b95d8dbb82dab8a3fa3dfa3be1ec830" /></a>
    <a href='http://vk.com/eerikkie'>vk<img scr="https://cdn-icons.flaticon.com/png/512/717/premium/717392.png?token=exp=1640861083~hmac=1b95d8dbb82dab8a3fa3dfa3be1ec830" /></a>
</div>